<!-- main/templates/main/about.html -->
{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <section class="about">
        <button id="about">About Me</button>
        <h2>DESIGNER</h2>
        <p id="info">I am Meah, a passionate freelancer from Puerto Princesa, Palawan and the founder of Fabrigas STUDIOS, bringing you web development and design from the future. My expertise is developing next-level websites and web applications including full frontend design.</p>
        <p>- Example </p>
    </section>
{% endblock %}
